/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(images/download\ \(1\).jpg);
    background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Scale the image to cover the entire background area */
  background-position: center center; /* Position the image at the center of the background */
  background-attachment: fixed;
  color: #1e0f0f; 

  }
  
  header {
    background-color:#333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  /* Project Styles */
  .project {
    margin-bottom: 30px;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .back-btn {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

  